#
<html>
<head>
    <Title>Python Flask YouTube video Downloader</Title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>    
    <div class="container mt-3">
        <h2>Python Flask YouTube Downloader</h2>
        <form method="POST" action="/download">
            <input type="text" name="url" placeholder="Enter the video URL">
            <button type="submit">Download Video</button>
        </form>

      </div>
    <br><br>
</body>
</html>
